<% @topics.each do |t| %>

    <div class="media">
      <div class="media-body">
        <h2 class="media-heading">

          <%= link_to t.title, [t.user, t] %>

        </h2>
      </div>
    </div>

<% end %>
