<h1>Edit Link</h1>

<%= form_for [@link.topic, @link] do |f| %>
  <div class="form-group">
    <%= f.label :url %>
    <%= f.text_field :url, class: 'form-control', placeholder: "Enter link" %>

  </div>

  <%= f.submit "Save", class: 'btn btn-success' %>

<% end %>
